[Unit]
Description=Rambo Bot - serving my personal Discord Server
Documentation=https://github.com/khoanduy/rambo-bot
After=network.target

[Service]
Type=simple
User=rambo
ExecStart=/usr/bin/node /home/rambo/rambo-bot/index.js
WorkingDirectory=/home/rambo/rambo-bot
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
